.tales-beyond-extension-dialog {
  width: min(100% - 3rem, 80ch);
  background: #27272c;
  padding: 1rem;
  margin-inline: auto;
  margin-top: 3rem;
  color: #c5c5ce;
  border-radius: .5em;
  border: 3px #ab79d6 solid;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
}

.tales-beyond-extension-dialog h2 {
  color: #ab79d6;
  margin: 0rem 0 0 0;
  display: flex;
  gap: .5rem;
  line-height: 1.2;
  align-items: center;
}

.tales-beyond-extension-dialog h2 img {
  width: 2rem;
}

.tales-beyond-extension-dialog p,
.tales-beyond-extension-dialog ul,
.tales-beyond-extension-dialog button {
  margin: 1rem 0 0 0;
}

.tales-beyond-extension-dialog button {
  align-items: center;
  background-color: #ab79d6;
  border: 2px solid #ab79d6;
  border-radius: .5em;
  color: #351d4a;
  font-weight: 500;
  padding: .3em 1em .3em;
  text-decoration: none;
}

.tales-beyond-extension-dialog button:hover {
  border: 2px solid #ab79d6;
  color: #ab79d6;
  background-color: #351d4a;
}

.tales-beyond-extension-dialog ol {
  counter-reset: count;
}

.tales-beyond-extension-dialog li {
  counter-increment: count;
  padding: 0 1rem;
}

.tales-beyond-extension-dialog li:before {
  content: counters(count, ".") ". ";
}
