*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #27272c;
  color: #c5c5ce;
  font-family: system-ui, sans-serif;
  font-size: 1.15rem;
  line-height: 1.6;
  display: grid;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

main {
  grid-row: 1;
  position: relative;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  width: min(70ch, 100% - 2rem);
}

.content {
  position: absolute;
}

h1 {
  color: #ab79d6;
  margin: 0;
  padding: 1rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

h1 img {
  width: 2rem;
}

h4:first-child {
  margin-top: 1.5rem;
}

h4:not(:first-child) {
  margin-top: 3rem;
}

.option {
  display: grid;
  grid-template-columns: auto 2.5em;
  grid-template-areas: "text checkbox";
  gap: 0.5em;
  align-items: center;
}

.option header {
  font-weight: 600;
}

.option .form-switch {
  grid-area: checkbox;
}

footer {
  margin-top: auto;
  background-image: linear-gradient(#27272c00, #16141a);
  display: none;
  align-items: center;
  grid-row: 2;
  height: 3rem;
}

footer[data-talespire] {
  display: flex;
}

footer:hover {
  background-image: linear-gradient(#27272c00, #34313c);
}

footer a {
  color: #ab79d6;
  text-decoration: none;
  flex: 1;
  text-align: center;
}
