button.integrated-dice__container.tales-beyond-extension {
  border: 1px solid var(--tales-beyond-border, #c53131);
  border-radius: 4px;
  background: var(--tales-beyond-background, #fefefe);
  color: var(--tales-beyond-text, inherit);
  cursor: pointer;
}

button.integrated-dice__container.tales-beyond-extension:hover {
  border: 1px solid var(--tales-beyond-hover-border, #c53131);
  background: var(--tales-beyond-hover-background, #fdefe7);
}

button.integrated-dice__container.tales-beyond-extension:hover ~ .ddbc-saving-throw-selection-box-svg,
button.integrated-dice__container.tales-beyond-extension:hover ~ .ddbc-saving-throw-selection-small-box-svg {
  fill: var(--tales-beyond-hover-background, #fdefe7);
}

.ddbc-saving-throws-summary__ability-modifier > button.integrated-dice__container.tales-beyond-extension{
  border: 0;
}

.ddbc-saving-throws-summary__ability-modifier > button.integrated-dice__container.tales-beyond-extension:hover {
  background: transparent;
}
