a.integrated-dice__container.hijacked {
  border: 1px solid var(--purple-100);
  border-radius: 4px;
  cursor: pointer;
}

a.integrated-dice__container.hijacked:hover {
  border: 1px solid var(--purple-400);
  background: var(--purple-100);
}

a.integrated-dice__container.hijacked:hover ~ .ddbc-saving-throw-selection-box-svg,
a.integrated-dice__container.hijacked:hover ~ .ddbc-saving-throw-selection-small-box-svg {
  fill: var(--purple-100);
}

.ddbc-saving-throws-summary__ability-modifier > a.integrated-dice__container.hijacked {
  border: 0;
}

.ddbc-saving-throws-summary__ability-modifier > a.integrated-dice__container.hijacked:hover {
  background: transparent;
}
