button.integrated-dice__container.hijacked {
  border: 1px solid #e5bef4;
  border-radius: 4px;
  cursor: pointer;
}

button.integrated-dice__container.hijacked:hover {
  border: 1px solid #b53de1;
  background: #e5bef4;
}

button.integrated-dice__container.hijacked:hover ~ .ddbc-saving-throw-selection-box-svg,
button.integrated-dice__container.hijacked:hover ~ .ddbc-saving-throw-selection-small-box-svg {
  fill: #e5bef4;
}

.ddbc-saving-throws-summary__ability-modifier > button.integrated-dice__container.hijacked {
  border: 0;
}

.ddbc-saving-throws-summary__ability-modifier > button.integrated-dice__container.hijacked:hover {
  background: transparent;
}
