.tales-beyond-extension-contextmenu {
  z-index: 9999;
  position: absolute;
  width: max-content;
  top: 0;
  left: 0;
  padding: 5px;

  h2 {
    color: #ab79d6;
    margin: 0rem 0 0 0;
    display: flex;
    gap: .5rem;
    line-height: 1.2;
    align-items: center;
    font-size: 1rem;

    img {
      width: 1.5rem;
    }
  }

  .arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: -1;
    background: #27272c;
    pointer-events: none;
  }

  .menu {
    background: #27272c;
    padding: 6px 8px;
    color: #c5c5ce;
    border-radius: .5em;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 12px;
    margin: 0;
    border: none;
  }

  .item {
    padding: 6px 8px;
    margin: 2px;
    line-height: 18px;

    &:hover {
      background-color: #ab79d6;
      color: #351d4a;
      cursor: pointer;
    }

    &.advantage:not(:hover) {
      text-decoration: green wavy underline;
    }

    &.disadvantage:not(:hover) {
      text-decoration: red wavy underline;
    }

    &.critical:not(:hover) {
      text-decoration: orange wavy underline;
    }
  }
}
