.tales-beyond-extension-contextmenu {
  h2 {
    color: #ab79d6;
    margin: 0rem 0 0 0;
    display: flex;
    gap: .5rem;
    line-height: 1.2;
    align-items: center;
    font-size: 1rem;

    img {
      width: 1.5rem;
    }
  }

  .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: calc(50% - 10px);

    &.left {
      border-right: 10px solid #27272c;
      left: -9px;
    }
    &.right {
      border-left: 10px solid #27272c;
      right: -9px;
    }
  }

  .menu {
    position: absolute;
    z-index: 2000;
    background: #27272c;
    padding: 6px 8px;
    color: #c5c5ce;
    border-radius: .5em;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 12px;
    min-width: max-content;
    /* Required because of Popover API */
    inset: 0px auto auto 0px;
    margin: 0;
    border: none;
  }

  .item {
    padding: 6px 8px;
    margin: 2px;
    line-height: 18px;

    &:hover {
      background-color: #ab79d6;
      color: #351d4a;
      cursor: pointer;
    }

    &.advantage:not(:hover) {
      text-decoration: green wavy underline;
    }

    &.disadvantage:not(:hover) {
      text-decoration: red wavy underline;
    }

    &.critical:not(:hover) {
      text-decoration: orange wavy underline;
    }
  }
}
