name: Release
on:
  push:
    tags:
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".tool-versions"
      - name: Install dependencies
        run: bun install
      - name: Run build
        run: bun run build
      - name: Run checks
        run: bun run check
      - name: Run tests
        run: bun test
      - name: Run build:release
        run: bun run build:release
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: |
            web-ext-artifacts/*
            tales-beyond-source-*.zip

  release-firefox:
    runs-on: ubuntu-latest
    needs: build
    environment: firefox
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".tool-versions"
      - name: Install dependencies
        run: bun install
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
      - name: Release Firefox
        env:
          AMO_API_KEY: ${{ secrets.AMO_API_KEY }}
          AMO_SECRET: ${{ secrets.AMO_SECRET }}
        run: |
          bun changelog:amo > amo.json

          bun web-ext sign \
            -s build/firefox/ \
            --channel listed \
            --amo-metadata amo.json \
            --upload-source-code tales-beyond-source-${GITHUB_REF_NAME:1}.zip \
            --api-key ${AMO_API_KEY} \
            --api-secret ${AMO_SECRET}

  release-chrome:
    runs-on: ubuntu-latest
    needs: build
    environment: chrome
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
      - name: Release Chrome
        env:
          CWS_EXTENSION_ID: ${{ secrets.CWS_EXTENSION_ID }}
          CWS_CLIENT_ID: ${{ secrets.CWS_CLIENT_ID }}
          CWS_CLIENT_SECRET: ${{ secrets.CWS_CLIENT_SECRET }}
          CWS_REFRESH_TOKEN: ${{ secrets.CWS_REFRESH_TOKEN }}
        run: |
          npx chrome-webstore-upload-cli@3 upload \
            --source web-ext-artifacts/tales_beyond-${GITHUB_REF_NAME:1}.zip \
            --extension-id ${CWS_EXTENSION_ID} \
            --client-id ${CWS_CLIENT_ID} \
            --client-secret ${CWS_CLIENT_SECRET} \
            --refresh-token ${CWS_REFRESH_TOKEN}

  release-symbiote:
    runs-on: ubuntu-latest
    needs: build
    environment: symbiote
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".tool-versions"
      - name: Install dependencies
        run: bun install
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
      - name: Release Symbiote
        env:
          MODIO_API_URL: ${{ secrets.MODIO_API_URL }}
          MODIO_API_TOKEN: ${{ secrets.MODIO_API_TOKEN }}
        run: |
          curl -X POST ${MODIO_API_URL}/games/3963/mods/4389946/files \
            --silent --output /dev/null --show-error --fail \
            -H "Authorization: Bearer ${MODIO_API_TOKEN}" \
            -H 'Content-Type: multipart/form-data' \
            -H 'Accept: application/json' \
            -F "filedata=@web-ext-artifacts/tales-beyond-symbiote-${GITHUB_REF_NAME:1}.zip" \
            -F "version=${GITHUB_REF_NAME:1}" \
            -F "changelog=$(bun changelog:modio)" \
            -F 'active=true' \
            -F "filehash=$(md5sum web-ext-artifacts/tales-beyond-symbiote-${GITHUB_REF_NAME:1}.zip | cut -c -32)"

  release-github:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
      - name: Add artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: web-ext-artifacts/*
