name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        with:
          bun-version-file: ".tool-versions"
      - name: Install dependencies
        run: bun install
      - name: Run checks
        run: bun check
      - name: Run tests
        run: bun test
